.login-form__controls {
  text-align: center;
  margin-bottom: 1rem;
}

.login-form__controls button {
  font: inherit;
  color: white;
  background-color: #04aa6d;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  width: 25%;
}

.login-form__controls button:hover {
  opacity: 0.8;
}

.login-form__controls button:active {
  transform: translateY(1px);
}
